{% extends 'blog/base.html' %}


{% block content %}
<div class='container'>
   <div class="row">
      <div class="col-md-4">
         <div class="inner">
    <h2>Login</h2>
    <br/>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login_user' %}">
    {% csrf_token %}
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  
  

        <input type="submit" class='btn btn-primary' value="Login" />
    </form>
         </div>
      </div>
   </div>
</div>
  
{% endblock %}
