{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
   <div class="row">
    <div class=col-md-4>
      <div class="inner">
        <h2 class='posttitle loader'>{{ post.title }}{{ post.title_tag }}</h2>
        <small>By:
          {{post.author}}
        {% if post.published_date %}
            <div class="date postdate">
                {{ post.published_date }}
            </div>

        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
      {% if post.header_image %}
      <p class='postcontent' >
      <img src="{{post.header_image.url}}"><br/><br/>
      {% endif %}
      {{ post.text|safe|linebreaksbr }}</p>

      {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
          <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
          <a class="btn btn-warning" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
        {% endif %}
      {% endif %}
      <form action="{% url 'like_post' post.pk %}"
          method = "POST">
            {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
           <br/><br/> <button type="submit",
            name="post_id",
            value="{{ post.id }}",
            class="btn btn-primary">Unlike</button>

        {% else %}
             <br/><br/><button type="submit",
            name="post_id",
            value="{{ post.id }}",
            class="btn btn-primary">Like</button>

        {% endif %}
    {% else %}
        <small><a href="{% url 'login_user' %}">Login</a> to like</small>
    {% endif %}
        - {{ total_likes }} Likes
    </form>


  <hr>
  <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
  <div class="container">


  {% for comment in post.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}

              {{ comment.created_date }}
              {% if not comment.approved_comment %}
                  <a class="btn btn-primary" href="{% url 'comment_remove' pk=comment.pk %}"><span class="fa fa-remove"></span></a>
                  <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}"><span class="fa fa-check"></span></a>
              {% endif %}

          <p>{{ comment.text|safe|linebreaks }}</p>
          <p>Posted by: <strong>{{ comment.author }}</strong></p>

      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
<br/><br/><br/>
            
        {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start">
         {% else %}
        <img src="{% static 'images/default_profile_pic.jpg' %}" class="img-fluid rounded-start">
        {% endif %}
      <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
            {{ post.author.profile.first_name }}
            {{ post.author.profile.last_name }}
        </h5>
        <p class="card-text">
            {{  post.author.profile.bio }}
        </p>
            <p>{{ post.author.profile.description }}</p>
    
       <h2><a href="{% url 'author_profile' post.author.profile.id %}" class="btn btn-outline-primary"> View {{ post.author.profile.user.username }}'s Profile
       </a></h2>
    
      </div>
   </div>
</div>
</div>
{% endblock %}
     